.chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000e8;
  z-index: 150;
  color: rgb(14, 14, 14);
  display: grid;
  gap: 2%;
  grid-template-columns: 30% 68%;
  padding: 2%;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.chat .leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fffbfb;
  width: 100%;
  height: 100%;
}

.leftSide .chatContainer {
  width: 100%;
}

.leftSide .chatContainer .chat-list {
  width: 100%;
}

.leftSide .chatContainer .chat-list .follower.conversation {
  display: flex;
  align-items: center;

  gap: 10px;
  width: 100%;
}

.leftSide .chatContainer .chat-list .follower.conversation .online-dot {
}

.leftSide .chatContainer .chat-list .follower.conversation .userName {
  display: flex;
  flex-direction: column;
}

.leftSide .chatContainer .chat-list .follower.conversation .userName span {
  font-size: 14px;
  font-weight: 500;
}

.leftSide
  .chatContainer
  .chat-list
  .follower.conversation
  .userName
  span.online {
  font-size: 14px;
  font-weight: 500;
  color: rgb(112, 112, 112);
  font-weight: 300;
  font-size: 12px;
}

.leftSide .chatContainer .chat-list .follower.conversation .image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}

.leftSide .chatContainer .chat-list .follower.conversation .image img {
  width: 100%;
}

.follower.conversation {
  padding: 10px 5px;
}

hr {
  width: 100%;
  color: #5f5f5f83;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.chat .rightSide {
  background: #fffbfb;
  width: 100%;
  height: 100%;
}

.chatBox-container {
  width: 100%;
  height: calc(100vh - 110px);
  overflow-y: auto;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.chatBox-container .chat-header {
  position: sticky;
  top: 0;
  background: #f7f5f5;
  padding: 15px;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.chatBox-container .chat-header .follower {
}

.chatBox-container .chat-header .follower .image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}

.chatBox-container .chat-header .follower .image img {
  width: 100%;
}

.chatBox-container .chat-header .follower .userName {
}

/* ---------------------------------------- */

.chatBox-container .chat-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  padding: 15px ;
}

.chatBox-container .chat-body .times {
  color: black;
  align-self: flex-start;
}

.chatBox-container .chat-body .times.own {
  color: black;
  align-self: flex-end;
}

.chatBox-container .chat-body .times span {
  color: black;
  align-self: flex-start;
}

.chatBox-container .chat-body .message {
  background: #aa0e0e8a;
  border-radius: 50px 50px 50px 0;
  min-width: 200px;
  padding: 15px;
  align-self: flex-start;
}

.chatBox-container .chat-body .message content {
  font-weight: 500;
  font-size: 14px;
}

.chatBox-container .chat-body .message.own {
  background: #00000067;
  border-radius: 50px 50px 0px 50px;
  padding: 15px;
  min-width: 200px;
  align-self: end;
}
/* ---------------------------------------- */
.chat-sender {
    display: flex;
    align-items: center;
    height: 70px;
    background: #f7f5f5;
    padding: 0 15px;
}

.chat-sender .send {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width:  90px;
    background: #00369b;
    color: #fffbfb;
    cursor: pointer;
    border-radius: 5px;
}