.chat {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000e8;
  z-index: 150;
  color: rgb(14, 14, 14);
  display: grid;
  gap: 2%;
  grid-template-columns: 30% 68%;
  padding: 2%;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.chat .leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fffbfb;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.leftSide .chatContainer {
  width: 100%;
}

.leftSide .chatContainer .chat-list {
  width: 100%;
}
.leftSide .chatContainer .chat-list>div {
  transition: 0.5s;
  cursor: pointer;


 }

.leftSide .chatContainer .chat-list>div:hover {
 background: #0000003b;
}




.leftSide .chatContainer .chat-list .follower.conversation {
  position: relative;

  display: flex;
  align-items: center;

  gap: 10px;
  width: 100%;
}

.leftSide .chatContainer .chat-list .follower.conversation .online-dot {
}

.leftSide .chatContainer .chat-list .follower.conversation .userName {
  display: flex;
  flex-direction: column;
}

.leftSide .chatContainer .chat-list .follower.conversation .userName span {

  font-size: 14px;
  font-weight: 500;
}

.leftSide
  .chatContainer
  .chat-list
  .follower.conversation
  .userName
  span.online {
    
    position: absolute;
    top: 62px;
    left: 67px;
  background: #1eb400;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}


.leftSide
  .chatContainer
  .chat-list
  .follower.conversation
  .userName
  span.offline {
    position: absolute;
    top: 62px;
    left: 67px;
  background: #5e5e5e;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.leftSide .chatContainer .chat-list .follower.conversation .image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}

.leftSide .chatContainer .chat-list .follower.conversation .image img {
  width: 100%;
}

.follower.conversation {
  padding: 10px 5px;
}

hr {
  width: 100%;
  color: #5f5f5f83;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.chat .rightSide {
  position: relative;
  background: #fffbfb;
  width: 100%;
  height: 100%;
  border-radius: 10px;

}

.close-tap-chat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  right: 25px;
  background: #ff0000;
  color: #ffffff;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
}

.chatBox-container {
  width: 100%;
  height: calc(100vh - 110px);
  overflow-y: auto;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.chatBox-container .chat-header {
  position: sticky;
  top: 0;
  background: #e0e0e0;
  padding: 15px;
  border-bottom: 1px solid rgb(143, 143, 143);
}

.chatBox-container .chat-header .follower {

  display: flex;
  align-items: center;
  gap: 15px;
}

.chatBox-container .chat-header .follower .image {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}

.chatBox-container .chat-header .follower .image img {
  width: 100%;
}

.chatBox-container .chat-header .follower .userName span{
  font-size: 18px;
  font-weight: 500;
}

/* ---------------------------------------- */

.chatBox-container .chat-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 70%;
  padding: 15px;
}

.chatBox-container .chat-body .times {
  color: black;
  align-self: flex-start;
}

.chatBox-container .chat-body .times.own {
  color: black;
  align-self: flex-end;
}

.chatBox-container .chat-body .times span {
  color: black;
  align-self: flex-start;
  margin: 20px;

}

.chatBox-container .chat-body .message {
  background: rgb(203, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(203, 0, 0, 1) 0%,
    rgba(255, 47, 1, 1) 78%,
    rgba(255, 52, 1, 1) 100%,
    rgba(255, 128, 1, 1) 100%
  );
  border-radius: 50px 50px 50px 0;
  /* min-width: 200px; */
  padding: 15px;
  align-self: flex-start;
  color: #f7f5f5;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.chatBox-container .chat-body .message content {
  font-weight: 500;
  font-size: 14px;
}

.chatBox-container .chat-body .message.own {
  background: rgb(1, 189, 255);
  background: linear-gradient(
    243deg,
    rgba(1, 189, 255, 1) 0%,
    rgba(9, 1, 255, 1) 100%
  );
  border-radius: 50px 50px 0px 50px;
  padding: 15px;
  /* min-width: 200px; */
  align-self: end;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  color: #f7f5f5;

}
/* ---------------------------------------- */
.chat-sender {
  display: flex;
  align-items: center;
  height: 70px;
  background: #afafaf;
  padding: 0 15px;
}

.chat-sender .send {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 90px;
  background: #00369b;
  color: #fffbfb;
  cursor: pointer;
  border-radius: 5px;
}
