.createPost {
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  /* background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,184,169,1) 100%); */

  background: #181818;
  border-bottom: #ffffff3f solid 1px;
}

.createPost .image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #025cc9;
  border-radius: 100%;
}

.createPost .image img {
  width: 50px;
  height: 50px;
  background: #025cc9;
  border-radius: 100%;
}

.createPost .image div {
  background: rgb(77, 78, 75);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 28px;
  left: -7px;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.createPost input {
  width: 50%;
  height: 50px;
  margin-left: 5px;
  cursor: pointer;
}
