:root {
  --background: #000000;
  --color: #ffffff;
  --primary-color: #304055;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ebebeb;
  /* background-image: url("../../pic/b.jpg");
  background-repeat: no-repeat;
  background-size: contain; */
}
/* ------------------------------------------------- */
.uploadPic {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.849);

  z-index: 2000;
}

.uploadPic-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 550px;
  height: 550px;
  border: #ffd90052 1px solid;
  color: wheat;
}

.uploadPic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(5, 5, 5);
  border: #020202 1px solid;
  height: 75%;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.uploadPic-container img {
  cursor: pointer;
  max-height: 50vh;
}

.uploadPic-container .image-after {
  cursor: pointer;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  overflow: hidden;
  border: #000 1px solid;
}

.uploadPic-container input {
  display: none;
}
.uploadPic .button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.uploadPic button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 5px;
  background: #000;
  cursor: pointer;
  border: #ffffff 1px solid;
}

.uploadPic button:first-child {
  background: #c90202;
}

.uploadPic button:nth-child(2) {
  background: #037938;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background: black;
  z-index: 1000;
  border-bottom: #0000009c solid 1px;
  padding: 35px 0;
  background: #ffd700;
  background: rgb(255, 215, 0);
  background: linear-gradient(
    90deg,
    rgb(250, 234, 7) 0%,
    rgba(245, 255, 1, 1) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.header-left_side {
  position: relative;
}
.header-left_side .logo {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 130px;
  height: 40px;
  background: #000000;
}

.header-left_side .logo img {
  height: 30px;
}

.header-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0px;
  height: 100%;
}

.header-middle .link {
  color: black;
  font-size: 14px;
  padding: 15px;
  font-weight: 500;
  transition: 0.5s;
  margin: 0 5px;
}

.header-middle .link:hover {
  color: rgb(255, 255, 255);
  background: #000000;
}

.header-middle.home .link:first-child {
  color: #f5f7fa;
  background: #181818;
}
.header-middle.followers .link:nth-child(2) {
  background: #181818;
  color: #f5f7fa;
}
.header-middle.following .link:nth-child(3) {
  background: #181818;
  color: #f5f7fa;
}

.header-middle.suggestion .link:nth-child(4) {
  background: #181818;
  color: #f5f7fa;
}
.header-middle.logout .link:nth-child(5) {
  background: #181818;
  color: #f5f7fa;
}
.header-middle .link:nth-child(4) {
  display: none;
}

.header-middle .link:nth-child(5) {
  color: #fafafa;
  background: #ff1414;
  border-radius: 0 35px 35px 0;
  border-left: #000 5px solid;
}

.header-middle .link i {
  margin-right: 5px;
}

.header-right_side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* width: 90px;
  height: 90%; */
}

.header-right_side .message,
.header-right_side .notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #181818;
  color: var(--color);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.137);
}

.header-right_side .notification div,
.header-right_side .message div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -7px;
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 13px;
}
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

@media (max-width: 850px) {
  .header-middle .link:nth-child(4) {
    display: block;
  }
}

@media (max-width: 783px) {
  .header-middle .link {
    padding: 8px;
  }
}

/* @media (max-width: 653px) {
  .header-middle .link {
    font-size: 10px;
  }
} */

@media (max-width: 654px) {
  .header-middle {
    position: absolute;
    flex-direction: column;
    background: #000;
    width: 200px;
    height: calc(100vh);
    color: wheat;
    top: 70px;
    right: 0;
    z-index: 2000;
    display: none;
  }

  .header-middle .link {
    font-size: 14px;

    color: wheat;
    width: 90%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  }

  .header-middle .link:nth-child(5) {
    color: #fafafa;
    border-radius: 0;
    border: none;
  }
}
