:root {
  --background: #000000;
  --color: #ffffff;
  --primary-color: #304055;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
.uploadPic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(2, 6, 31);
  background: linear-gradient(
    90deg,
    rgba(2, 6, 31, 1) 0%,
    rgba(30, 74, 0, 1) 46%
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.uploadPic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(245 245 245);
  border: #ffffff 1px solid;
  height: 450px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.uploadPic-container img {
  cursor: pointer;
  max-height: 50vh;
}

.uploadPic-container .image-after {
  cursor: pointer;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  overflow: hidden;
  border: #000 1px solid;
}

.uploadPic-container input {
  display: none;
}
.uploadPic .button {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.uploadPic button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 5px;
  background: #000;
  cursor: pointer;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60px;
  background: var(--background);
  z-index: 1000;
}
.header-left_side {
  position: relative;
}
.header-left_side .logo {
  border: var(--primary-color) 1px solid;
  border-radius: 100%;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

.header-left_side .logo img {
  height: 60px;
}

.header-middle {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.header-middle .link {
  color: var(--color);
  font-size: 16px;
  padding: 15px;
}
.header-middle.home .link:first-child {
  border-bottom: #025cc9 solid;
  color: rgba(255, 255, 255, 0.719);
}
.header-middle.followers .link:nth-child(2) {
  border-bottom: #025cc9 solid;
  color: rgba(255, 255, 255, 0.719);
}
.header-middle.following .link:nth-child(3) {
  color: rgba(255, 255, 255, 0.719);
  border-bottom: #025cc9 solid;
}
.header-middle.logout .link:nth-child(4) {
  border-bottom: #025cc9 solid;
  color: rgba(255, 255, 255, 0.719);
}

.header-middle .link i {
  margin-right: 5px;
}

.header-right_side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 100%;
}

.header-right_side .message,
.header-right_side .notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: var(--color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 18px;
}

.header-right_side .notification div,
.header-right_side .message div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -7px;
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 13px;
}

/* ------------------Posts --------------- */
/* ------------------Posts --------------- */
/* ------------------Posts --------------- */
