.screenPage {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #000000d5;
}

.addPost_container {
  position: relative;

  width: 500px;
  height: 500px;
  background: #fffefe;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  overflow: hidden;
}

.addPost_container-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  height: 50px;
}

.addPost_container-top .title {
  color: white;
  font-size: 20px;
}

.addPost_container-top .x {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: rgb(252, 252, 252);
  text-align: right;
  margin-left: 50%;
  right: 10px;
  background: #ff0000fd;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

.addPost_container-user {
  display: flex;
  align-items: center;
  margin: 10px;
  border-bottom: #00000044 1px solid;
}

.addPost_container-user .image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.addPost_container-user .userName {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

.addPost_container-image {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  max-height: 240px;
  background: #f7f7f7;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.addPost_container-image .no-img {
  width: 200px;
  margin-left: calc(50% - 100px);
}

.addPost_container-image input {
  display: none;
}
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

.addPost_container-textArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  resize: none;
}

.addPost_container-textArea textarea {
  width: 90%;
  height: 50px;
  resize: none;
  margin-bottom: 10px;
  padding: 5px;
}
/* -------------------------------------- */
/* -------------------------------------- */

.addPost_container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}



.addPost_container-button div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 10px;
  border: #000 solid 1px;
  outline: none;
  height: 40px;
  background: rgb(0, 4, 255);
  color: #fffefe;
  cursor: pointer;
}

.addPost_container-button div.unClick {
  pointer-events: none;
  background: rgb(75, 75, 83);
  
}



/* HTML: <div class="loader"></div> */
.loader {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  --c:no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}